BOT_TOKEN=8423940918:AAFwXRllrT6AYoL94X16JdImYncTDgV8Rdo
DATABASE_URL=postgresql://postgres.mbzobmfpywywvednquzp:%40NexTeraDownloadBot@aws-0-ap-southeast-2.pooler.supabase.com:5432/postgres

# Redis Configuration (For Upstash/Production use rediss:// and set REDIS_TLS=true if needed)
# Format: redis://[password]@[host]:[port]
REDIS_URL=redis://default:gQAAAAAAAeQXAAIgcDI1MmMzOTMwNDNjZTU0ZGQ0OGJiMzFlY2JmNTA5NzgyNA@immune-bluegill-123927.upstash.io:6379
REDIS_TLS=true

SHORTENER_PROVIDER=arolinks
SHORTENER_API_KEY=4780377385c2bd34e57325748fd7dc8061218306

VERIFICATION_BASE_URL=http://localhost:3000
VERIFICATION_VALIDITY_MINUTES=1440

ADMIN_TELEGRAM_IDS=6059191947

FREE_DAILY_LIMIT=5
PREMIUM_DAILY_LIMIT=50

# Storage
STORAGE_CHANNEL_ID=-1003975811732
STORAGE_RETENTION_HOURS=24

# TeraBox Official API (Required for actual file extraction)
TERABOX_CLIENT_ID=<TERABOX_CLIENT_ID>
TERABOX_CLIENT_SECRET=<TERABOX_CLIENT_SECRET>
TERABOX_ACCESS_TOKEN=<TERABOX_ACCESS_TOKEN>
